body {
  @include box-sizing(border-box);
  color: $black-color;
  font-size: $font-size-base;
  font-family: $sans-serif-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.main {
  position: relative;
  background: $white-color;
}

.animation-transition-general {
  @include transition($general-transition-time, $transition-ease);
}

