.card {
  border: 0;
  border-radius: $border-radius-small;
  position: relative;
  margin-bottom: 20px;
  @include box-shadow($box-shadow);

  &.card-plain {
    background-color: transparent;
    box-shadow: none;

    .card-header {
      margin-left: 0;
      margin-right: 0;
      background-color: transparent;
    }
  }
}
