.form-group {
  .form-error {
    padding-left: $padding-small-horizontal;
    font-size: $font-size-small;
    color: $danger-color ;
  }
}

.card label {
  font-size: .9em;
  margin-bottom: 5px;
  color: #9a9a9a;
}

label.required {
  &:after {
    display: inline-block;
    content: '*';
    margin-left: 0.2rem;
    color: $danger-color;
  }
}
