.input-group {
  .input-group-prepend,
  .input-group-append {
    margin: 0;

    .input-group-text {
      background-color: transparent;
      border: 1px solid #e3e3e3;
      border-radius: 30px;
      color: #888;
      @include transition-input-focus-color();

      i {
        opacity: .5;
      }

      .has-danger.input-focus-group &,
      .has-success & {
        background-color: $white-color;
      }

      & + .form-control,
      & ~ .form-control {
        @include input-size($padding-base-vertical - 1, $padding-base-horizontal);
      }
    }

    &:not(:last-child) {
      .input-group-text {
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .form-control {
    &:last-child {
      border-left: 0;
    }
  }
}

.form-group,
.input-group {
  margin-bottom: 1em;
  position: relative;
}

.input-group {
  &.no-border {
    .input-group-prepend {
      .input-group-text {
        padding: 11px 0 11px 19px;
      }
    }

    &.form-control-lg {
      .form-control {
        padding: 15px 19px;
      }
    }

    .form-control,
    .form-control + .input-group-prepend .input-group-text,
    .form-control + .input-group-append .input-group-text {
      background-color: $opacity-gray-3;
      border: medium none;

      &:focus,
      &.active,
      &:active {
        border: medium none;
        background-color: $opacity-gray-5;
      }
    }

    .form-control {
      &:focus {
        & + .input-group-append .input-group-text,
        & + .input-group-prepend .input-group-text {
          background-color: $opacity-gray-5;
        }
      }
    }

    .input-group-prepend,
    .input-group-append {
      .input-group-text {
        background-color: $opacity-gray-3;
        border: none;
      }
    }
  }
}

.form-control-lg {
  padding: 0;
  font-size: inherit;
  line-height: 0;
  border-radius: 0;
}

.form-control {
  background-color: $transparent-bg;
  border: 1px solid $light-gray;
  border-radius: $btn-round-radius;
  color: $black-color;
  line-height: normal;
  height: auto;
  //font-size: $font-size-small;
  @include transition-input-focus-color();
  @include box-shadow(none);

  &:focus {
    border: 1px solid $primary-color;
    outline: 0 !important;
    @include box-shadow(none);
    color: $black-color;

    & + .input-group-append .input-group-text,
    & ~ .input-group-append .input-group-text,
    & + .input-group-prepend .input-group-text,
    & ~ .input-group-prepend .input-group-text {
      border: 1px solid $primary-color;
      border-left: none;
      background-color: $transparent-bg;
    }
  }

  .has-error &,
  .has-success &,
  .has-error &:focus,
  .has-success &:focus, {
    @include box-shadow(none);
  }

  .has-danger &,
  .has-success & {
    &.form-control-success,
    &.form-control-danger {
      background-image: none;
    }
  }

  & + .form-control-feedback {
    border-radius: $border-radius-large;
    font-size: $font-size-base;
    margin-top: -7px;
    position: absolute;
    right: 10px;
    top: 50%;
    vertical-align: middle;
  }
}

.has-success,
.has-danger {
  &:after {
    font-family: 'Nucleo Outline';
    content: "\ea22";
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: $success-color;
    font-size: 11px;
  }
}

.select-box-control {
  @extend .form-control;
  width: auto;
  display: inline-block;
}
