$opacity-1: rgba(255, 255, 255, .1) !default;
$opacity-2: rgba(255, 255, 255, .2) !default;
$opacity-5: rgba(255, 255, 255, .5) !default;
$opacity-8: rgba(255, 255, 255, .8) !default;

$opacity-gray-8: rgba(222, 222, 222, .8) !default;
$opacity-gray-3: rgba(222, 222, 222, .3) !default;
$opacity-gray-5: rgba(222, 222, 222, .5) !default;

$padding-base-vertical: .5rem !default;
$padding-base-horizontal: .7rem !default;
$padding-btn-vertical: 11px !default;
$padding-btn-horizontal: 22px !default;
$padding-large-vertical: 15px !default;
$padding-large-horizontal: 48px !default;
$padding-small-vertical: 5px !default;
$padding-small-horizontal: 15px !default;
$padding-round-horizontal: 23px !default;

// sidebar
$sidebar-width: 260px !default;
$sidebar-mini-width: 80px;

// main panel
$main-panel-width: calc(100% - #{$sidebar-width}) !default;

// color
$info-color: #2CA8FF;
$success-color: #18ce0f !default;
$warning-color: #FFB236 !default;
$danger-color: #FF3636 !default;
$orange-color: #f96332 !default;
$primary-color: #f96332 !default;
$light-gray: #e3e3e3 !default;

$primary-states-color: lighten($primary-color, 6%) !default;
$primary-color-opacity: rgba(249, 99, 50, .3) !default;
$primary-color-alert: rgba(249, 99, 50, .8) !default;

$default-color: #888 !default;
$default-color-opacity: rgba(182, 182, 182, .6) !default;
$white-color: #FFFFFF !default;
$white-bg: #FFFFFF !default;
$transparent-bg: transparent !default;

$black-color: #2c2c2c !default;

$box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
$sidebar-box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, .20), 0px 2px 30px 0 rgba(0, 0, 0, .35);

$btn-round-radius: 30px !default;

// font
//$sans-serif-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
$sans-serif-family: 'Nunito Sans', Arial, sans-serif;

$font-size-mini: 0.7142em !default;
$font-size-large: 1em !default;
$font-size-small: 0.8571em !default;

$font-size-h1: 3.5em !default; // ~ 49px;
$font-size-h2: 2.5em !default;
$font-size-h3: 2em !default;
$font-size-h4: 1.714em !default; // ~24px
$font-size-h5: 1.57em !default;
$font-size-h6: 1em !default;
$input-font-size: .9rem !default;
//$font-size-base: 0.875rem !default;

$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$line-height-nav-link: 1.625rem !default;


$general-transition-time: 300ms;
$fast-transition-time: 150ms;
$slow-transition-time: 370ms;

$transition-ease: ease 0s;
$transition-linear: linear !default;

$navbar-padding-base: 0.625rem;

$border-thin: 1px !default;
$border-thick: 2px !default;

$border-radius-small: 0.1875rem !default;
$border-radius-extra-small: 0.125rem !default;
$border-radius-large: 0.25rem !default;
$border-radius-extreme: 0.875rem !default;
$thin-white-border: 1px solid #fff;

$topbar-x: topbar-x !default;
$topbar-back: topbar-back !default;
$bottombar-x: bottombar-x !default;
$bottombar-back: bottombar-back !default;

$margin-base-vertical: 15px !default;
$margin-large-vertical: 30px !default;

$margin-base-horizontal: 15px !default;

$btn-icon-size: 3.5rem !default;
$btn-icon-size-regular: 2.375rem !default;
$btn-icon-font-size-regular: 0.9375rem !default;
$btn-icon-font-size-small: 0.6875rem !default;
$btn-icon-size-small: 1.875rem !default;
$btn-icon-size-lg: 3.6rem !default;

// images
$default-avatar: url("/assets/img/blue_user.png");


// component
$switch-btn-width-lg: 60px;
$switch-btn-height-lg: 34px;
$switch-btn-width-md: 32px;
$switch-btn-height-md: 19px;
$switch-slider-toggle-size: 14px;


$toastr-width: 350px !default;
$successBgColor: #60bb71 !default;
$infoBgColor: #58abc3 !default;
$warningBgColor: #f7a336 !default;
$errorBgColor: #db6a64 !default;
$defaultSpace: 10px;