@import "../variables";

.navbar {
  padding-top: $navbar-padding-base;
  padding-bottom: $navbar-padding-base;
  min-height: 53px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);

  a {
    vertical-align: middle;

    &:not(.btn):not(.dropdown-item) {
      color: $white-color;
    }

    &.dropdown-item {
      color: $default-color;
    }
  }

  // for p tags inside dropdown toggle of navbar-nav
  p {
    display: inline-block;
    margin: 0;
    line-height: 1.8em;
    font-size: 1em;
    font-weight: 400;
  }

  &.navbar-absolute {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    z-index: 1029;
  }

  .navbar-wrapper {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;

    .navbar-toggle {
      .navbar-toggler {
        padding-left: 0;
      }

      &:hover {
        & .navbar-toggler-bar.bar2 {
          width: 22px;
        }
      }
    }
  }

  .button-dropdown {
    .navbar-toggler-bar:nth-child(2) {
      width: 17px;
    }
  }

  .navbar-nav {
    &.navbar-logo {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 49px;
      top: -4px;
    }

    .nav-link {
      text-transform: uppercase;
      font-size: $font-size-mini;
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-nav-link;
      margin-right: 3px;

      i {
        &.fa, &.now-ui-icons + p {
          margin-left: 6px;
        }

        &.fa, &.now-ui-icons {
          font-size: 18px;
          position: relative;
          top: 3px;
          text-align: center;
          width: 21px;
        }

        &.now-ui-icons {
          top: 4px;
          font-size: 16px;
        }

        &.profile-photo {
          .profile-photo-small {
            width: 27px;
            height: 27px;
          }
        }

        &.disabled {
          opacity: .5;
        }
      }

      &.btn {
        padding: $padding-btn-vertical $padding-btn-horizontal;

        &.btn-lg {
          padding: $padding-large-vertical $padding-large-horizontal;
        }

        &.btn-sm {
          padding: $padding-small-vertical $padding-small-horizontal;
        }
      }
    }

    .nav-item {
      &.active, .nav-link:not(.btn) {

      }

      .nav-link:not(.btn) {
        &:focus, &:hover, &:active {
          background-color: $opacity-2;
          border-radius: $border-radius-small;
          color: $white-color;
        }
      }
    }
  }

  .navbar-toggler {
    width: 37px;
    height: 27px;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;

    .navbar-toggler-bar {
      &.navbar-kebab {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        margin: 0 auto;
      }
    }
  }

  &.navbar-transparent {
    background-color: $transparent-bg !important;
    box-shadow: none;
    color: $white-color;
  }

  &.bg-white:not(.navbar-transparent) {
    a:not(.dropdown-item):not(.btn) {
      color: $default-color;

      &.disabled {
        opacity: .5;
        color: $default-color;
      }
    }

    .button-bar {
      background: $default-color;
    }

    .nav-item {
      &.active {
        .nav-link:not(.btn) {
          background-color: $opacity-gray-8;
        }
      }

      .nav-link:not(.btn) {
        &:focus, &:hover, :active {
          background-color: $opacity-gray-8;
          color: $default-color;
        }
      }
    }
  }

  &.bg-default {
    background-color: $default-color !important;
  }

  &.bg-primary {
    background-color: $primary-color !important;
  }

  &.bg-info {
    background-color: $info-color !important;
  }

  &.bg-success {
    background-color: $success-color !important;
  }

  &.bg-danger {
    background-color: $danger-color !important;
  }

  &.bg-warning {
    background-color: $warning-color !important;
  }

  &.bg-white {
    background-color: $white-color !important;
  }
}

.modal {
  .password-form-wrapper.submitting {
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $submitting-overlay-color;
      z-index: 2;
    }
  }
}
