.user-card {
  > .image {
    height: 120px;
    overflow: hidden;
    position: relative;
    background: gray;
    border-top-left-radius: $border-radius-small;
    border-top-right-radius: $border-radius-small;
  }

  .card-body {
    min-height: 240px;
  }

  .author {
    text-align: center;
    text-transform: none;
    margin-top: -77px;
  }

  .avatar-container {
    margin-bottom: 15px;
    display: inline-block;
    overflow: hidden;
    position: relative;
  }

  .avatar {
    width: 124px;
    height: 124px;
    min-width: 124px;
    min-height: 124px;
    position: relative;
    border: $thin-white-border;
    background-color: $white-color;
    border-radius: 50%;
    @include background-image($default-avatar);
    @include background-size(100% 100%);
  }

  .avatar-overlay {
    position: absolute;
    bottom: 25px;
    right: 25px;
    height: 36px;
    width: 36px;
    background: #2c2c2c;
    border-radius: 50%;
    padding: .5rem;
    border: 0;
    transform: translate(50%, 50%);
    cursor: pointer;
  }

}

.detail-card {
  @include media-breakpoint-up(xl) {
    .nav-link {
      padding: 1rem 1.5rem;
    }
    .nav-link {
      font-size: 1.1rem;
    }
  }

  .nav-link {
    text-transform: uppercase;
  }

  .card-body {
    min-height: 371px;
  }

  .user-detail-table {
    width: 100%;

    th, td {
      padding: 0.5rem 0.75rem;
    }
  }

  .back-to-view {
    color: $black-color;
    cursor: pointer;

    &:hover {
      color: lighten($black-color, 30%);
    }
  }

  .new-user-form {
    .wrap {
      position: relative;
    }

    .wrap.submitting:after {
      position: absolute;
      background-color: $submitting-overlay-color;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
    }
  }

  .created-detail {

  }

  .nav-wrap {
    position: relative;

    .nav {
      padding-right: 64px;

      @include media-breakpoint-up(md) {
        padding-right: 119px;
      }
    }

    .edit-profile-btn {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }
  }

  .profile-form {
    &.submitting {
      position: relative;
    }
    .pending-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $submitting-overlay-color;
      z-index: 2;
    }
  }
}
